
.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    /*margin-left: 17vw;*/
    /*padding-left: 10vw;*/
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 600px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    width: 40vw;
}

@media (max-width: 750px) {
    .container {
        margin-left: var(--minWidthOfSideBar);
        padding-left: 0;
        min-width: 0;
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: var(--darkBlue);
}

.secondaryText {
    font-size: 30px;
    color: var(--darkGray);
}

.postContainer {
    position: relative;
}

.postContainer button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}