@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --darkBlue: #212639;
    --white: #FAFBFC;
    --grayBlue: #93A6BF;
    --lightBlue: #4E78BB;
    --gray: #8B9094;
    --fontFamily: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

* {
    font-family: var(--fontFamily);
}